{{#each articles}}
  <h4><a target='_blank' href="{{this.link}}"><b>Title:</b>{{this.title}}</h4></a>
    <p><b>Author:</b>{{this.author}}</p>
    <p><b>Date:</b>{{this.dateTime}}</p>
    <p><b>Summary:</b>{{this.summary}}</p>
    <p id="art-id" data-article-id={{this.externalArticleId}}><b>Article Id:</b>{{this.externalArticleId}}</p>
    <p><b></b>{{#each this.notes}}</p>
    <p><b>Notes: </b> {{this.body}} <btn class="btn btn-danger delete-note-btn" note-id={{this._id}}>Delete Note</btn></p>
    {{/each}}

    <btn class="btn btn-danger delete-btn" data-article-id={{this.externalArticleId}}>Delete Article</btn>
    <btn class="btn btn-success add-note-btn" data-article-id={{this.externalArticleId}}>Add Note</btn>
{{/each}}


<!-- Save Confirmation Modal -->
<div class="modal fade" id="modal-delete-confirm" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content text-center">
            <h3>Article Deleted</h3>
            <i class="fa fa-check fa-4x text-success"></i>
        </div>
    </div>
</div>

<!-- Save Confirmation Modal -->
<div class="modal fade" id="modal-note-delete-confirm" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content text-center">
            <h3>Note Deleted</h3>
            <i class="fa fa-check fa-4x text-success"></i>
        </div>
    </div>
</div>

<!-- Note  Confirmation Modal -->
<div class="modal fade" id="modal-note-confirm" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content text-center">
            <h3>Noted Added</h3>
            <i class="fa fa-check fa-4x text-success"></i>
        </div>
    </div>
</div>

<!-- Full Height Modal Right -->
<div class="modal fade right" id="modal-note" tabindex="-1" role="dialog" aria-labelledby="Buy Modal" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog modal-full-height modal-right" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header">
                <p class="heading lead" id="article-id">Note</p>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="white-text">&times;</span>
                    <p></p>
                </button>
            </div>
            <!--Body-->
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="notes">Notes</label>
                        <input type="text" readonly class="form-control" id="notes" value="" >
                    </div>
                    <div class="form-group">
                        <label for="new-note">New Note</label>
                        <input type="text" class="form-control" id="new-note" value="" name="new-note">
                    </div>
       
                    <!-- pass the user ID -->
                    <div class="form-group">
                        <input type="hidden" class="form-control" id="buy-userID" value={{article.id}}>
                    </div>
                    <div class="modal-footer justify-content-center">
                        <button type="button" class="btn-fill btn-wd btn btn-primary" id="confirm-save-note">Save Note<i class="fa fa-dollar ml-1"></i></button>
                    </div>
                </form>
                <!--Footer-->
            </div>
            <!--/.Content-->
        </div>
    </div>
</div>
<!-- END Full Height Modal Right -->
